/*Footer */
/*CSS FILE*/
/*Colour Palatte:primaryDark(#17181c), secondaryDark(#2a2c33), primaryColour(#498467), secondaryColour(#528788), tertiaryColour( #b2d3a8)*/
.relative-bottom
{
  position: fixed;
  bottom: 0;
  width: 100%;
  padding:10px;a
  color:#498467;
}

@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
