/*
  Description: Custom CSS to override bootstrap CSS files
  Author: David McRae & Oliver Dickens
*/

/* these are my css variables
and sets my colour sheme*/
:root
{
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --bg-danger: #E50914;
  --transition-speed: 600ms;
  --transitionCard-speed: 400ms;
}
*{
  margin: 0;
}

body
{
  background-color: var(--bg-primary);
  color: var(--text-secondary);
}

body .form-control .input-group-text .custom-select
{
  background-color: #23232e;
}

body::-webkit-scrollbar
{
  width: .5rem;
}

body::-webkit-scrollbar-track
{
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb
{
  background: var(--bg-danger);
}
.container{
  background-color: var(--bg-secondary);
  color: var(--text-secondary);
}
.col
{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.card
{
  position: relative;
  width: 250px;
  margin-top: 1rem;
  border-radius: 10px;
  border: 4px solid #000 ;
}
.card:hover
{
  border: 4px solid var(--bg-danger);
}

 .poster img
{
  width: 100%;
  height: 300px;
  cursor: pointer;
}
.card-bottom{
  background-color: var(--bg-primary);
  color: var(--text-secondary);
}
.playMovie
{
  margin-top: 2rem;
  text-align: center;
}
.videoPlayer
{
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.playMovieDescription
{
  width:100%;
  margin-top: 1rem;
  text-align: center;
}
.navbar
{
  background-color: var(--bg-secondary);
  z-index:100;
  padding: 0;
}

.link-text
{
  margin-left: 1rem;
}
.list-group
{
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.list-group-item
{
  width:100%;
  margin: 0 5rem;
  padding: 20;
  border: none;
  display: flex;
  align-items: center;
  height: 5rem;
  background: var(--bg-secondary);
  text-decoration: none;
  filter: grayscale(0%) opacity(0.7);
  transition: var(--transition-speed);
}
.list-group-item i
{
    color: var(--text-secondary);
}
.list-group-item span
{
    color: var(--text-secondary);
}

.list-group-item:hover{
  filter: grayscale(0%) opacity(1);
  background: var(--bg-primary);
}
.logo
{
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: black;
  letter-spacing: 0.3ch;
  width: 100%;
  padding: 1rem;
}
.sideBar
{
  position: absolute;
  width: 100%;
  top: 100%;
  display: none;
}
#top:a{
  font-size: 1.5rem;
}
.logo i
{
  transform: rotate(0deg);
  transition: var(--transition-speed);
}
.logo-text
{
  display: inline;
  transition: var(--transition-speed);
}

.navbar:hover .logo i {
  transform: rotate(-180deg);
}

/* Small screens mobile */
@media only screen and (max-width: 600px) {

  .navbar {
    top: -1;
    width: 100%;
    height: 5rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #000;
  }
  .list-group-item
  {
    background: #000;
    transition: var(--transition-speed);
  }
  .playMovie
  {
    margin-top: 10%;
    width:100%;
    text-align: center;
  }
.playMovieDescription
{
display: none; 
}
  .videoPlayer
  {
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .col-10
  {
    display: none;
  }

}
