/* Main Style Sheet */
.primaryDark
{
  background-color: #17181c;
  color: #498467;
}
.secondaryDark
{
  background-color: #2a2c33;
  color: #ffffff;
}
.primaryColour
{
  background-color: #498467;
  color: black;
}
.secondaryColour
{
  background-color: #528788;
  color: black;
}
.tertiaryColour
{
  background-color: #F7A416;
  color: black;
}
.btn-outline-primary {
  color: #498467;
  border-color: #498467;
}
.btn-outline-primary:hover{
  background-color: #498467;
  color: #ffffff;
  border-color: #498467;
}
.btn-outline-danger {
  color: #E50914;
  border-color: #E50914;
}
.btn-outline-danger:hover{
  background-color: #E50914;
  color: black;
  border-color: #E50914;
}




text, .text
{
  color: #ffffff;
}

.form-control, .input-group-text, .custom-select, .list-group-item
{
  background-color: #2a2c33;
  color: #ffffff;
}

html, body
{
  font-family: Helvetica, sans-serif;
  background-color: #17181c;
}
footer
{
  bottom: 0px;
}
@viewport
{
  zoom: 1.0;
  width: extend-to-zoom;
}

@-ms-viewport
{
  width: extend-to-zoom;
  zoom: 1.0;
}


/**********************************Footer */
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
